<div class="loginctn">
  <div class="formctn">
    <div class="loginhead">Log In</div>
    <form class="loginform" action="/login" method="POST">
      <div class="userinput">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
      </div>
      <div class="passinput">
        <label for="password">Password</label>
        <input name="password" placeholder="password" type="password" />
      </div>
      <button class="btns">Log In</button>
      <% if (loginErrors) { %>
        <div class="loginerrors">
          <%= loginErrorMsg %>
        </div>
        <% } %>
    </form>
  </div>
</div>