<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href= "/css/login.css" rel="stylesheet" />
  <link href="/css/app.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Playpen+Sans&family=Red+Hat+Display&display=swap" rel="stylesheet">
  <title><%= title %></title>
</head>

<body>
  <div class="mainctn">
    <div class="header">
      <div class="title"><a class="title" href="/">Members<span class=only>Only</span></a></div>
    </div>
    <div class="loginctn">
      <div class="img">to input</div>
      <div class="formctn">
        <div class="heading">Log In</div>
        <form class="loginform" action="/login" method="POST">
          <div class="userinput">
            <label for="username">Username</label>
            <input name="username" placeholder="username" type="text" />
          </div>
          <div class="passinput">
            <label for="password">Password</label>
            <input name="password" type="password" />
          </div>
          <button class="btns">Log In</button>
          <% if (errors) { %>
            <div class="loginerrors">
              <%= errormsg %>
            </div>
          <% } %>
        </form>
      </div>
    </div>
  </div>
</body>
</html>