:root {
  --mainfontsize: 1.3rem;
  --headingfontsize: 2rem;
  --signupfontsize: 1.5rem;
  --msgfont: 'Poppins', sans-serif;
  --basicfont: 'Lora', serif;
  --maincolor: #003399;
  --titlecolor: #6995CB;
  --btncolor: #D5E9FE;
  --fontcolor: #141D36;
}


* {
  box-sizing: border-box;
  margin: 0;
  color: var(--fontcolor);
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--maincolor);
  margin: 0;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.only {
  color: var(--btncolor);
  font-weight: 600;
}

.title {
  font-size: 3.5rem;
  margin-left: 7rem;
  font-family: var(--basicfont);
  color: white;
  font-weight: 600;
}

.btns {
  padding: 4px 10px;
  font-size: 1.2rem;
  font-family: var(--basicfont);
  border-radius: 6px;
  background-color: var(--btncolor);
  font-weight: 600;
}

.btns:hover {
  transform: scale(1.1);
  font-weight: bolder;
}