.loginctn {
  width: 29vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: var(--titlecolor) dashed 6px;
}

.formctn {
  position: fixed;
  top: 12rem;
  right: 2rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 12px;
  border: var(--fontcolor) solid 1px;
}

.loginhead {
  font-size: var(--mainfontsize);
  font-family: var(--basicfont);
  color: white;
  text-align: center;
  background-color: var(--titlecolor);
  padding: 1rem;
  border-radius: 12px 12px 0 0;
}

.loginform {
  display: grid;
  grid-template-rows: 5rem;
  gap: 2rem;
  padding: 2rem;
}

input {
  font-size: var(--mainfontsize);
  font-family: var(--basicfont);
}


.userinput,
.passinput {
  font-size: var(--mainfontsize);
  font-family: var(--basicfont);
  display: flex;
  flex-direction: column;
}



.btns {
  width: fit-content;
  align-self: right;
  justify-self: right;
}

.loginerrors {
  font-size: 1.2rem;
  font-family: var(--basicfont);
  color: red;
}