.mainctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  height: calc(100vh - 7rem);
  background-color: #eaf2fa;
}

.signupctn {
  height: 40vh;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  border: black 1px solid;
  border-radius: 12px;
  background-color: white;
}

.heading {
  font-size: var(--headingfontsize);
  font-family: var(--basicfont);
  text-align: center;
  background-color: var(--titlecolor);
  padding: 16px 0;
  border-radius: 12px 12px 0 0;
  font-weight: 600;
  color: white;
}

.formctn {
  height: 100%;
}

.signupform {
  display: grid;
  grid-template-rows: auto auto auto 2rem;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
}

input {
  font-size: var(--signupfontsize);
  font-family: var(--basicfont);
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.passreq {
  font-size: 1rem;
}

.userinput,
.passinput {
  font-size: var(--signupfontsize);
  font-family: var(--basicfont);
  display: flex;
  flex-direction: column;
}

.btns {
  width: fit-content;
  align-self: right;
  justify-self: right;
}

.signuperrors {
  font-size: 1.2rem;
  font-family: var(--basicfont);
  color: red;
}